<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vocatito</title>

    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>

    <header>

        <img src="../static/img/logotipo.png" alt="Vocatito" width="300" height="300">

    </header>

    <form>

        <label for="usuario">Usuário</label>
        <input type="text" id="usuario">

        <label for="senha">Senha</label>
        <input type="text" id="senha">

        <button type="submit">Entrar</button>

        <a href="cadastro.html">Cadastra-se</a>

    </form>
</body>

</html>