<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vocatito</title>

    <link rel="stylesheet" href="../static/css/jogo.css">

    <link rel="shortcut icon" href="../static/img/vocatito.png" type="image/x-icon">

</head>

<body>


    <div id="jogo">

        <p id="palavra">NewVocab</p>

        <input type="text" placeholder="Digite a palavra aqui" id="resposta" oninput="verificarPalavra()">

        <select id="temporizador" name="temporizador">
           
            <option value="1">1 minuto</option>
            
            <option value="3">3 minutos</option>
           
            <option value="5">5 minutos</option>

        </select>

        <div id="sinalizador"></div>

        <button type="button">START</button>


    </div>

  

    <script src="../static/js/jogo.js"></script>

</body>

</html>