@import url('global.css');

form{

    display: flex;

    flex-direction: column;

}

form label{

    margin: 15px 0px 5px 0px;

    font-size: 20px;

    color: #7f4ca5;

  

}

form a{

    margin: 10px 0px;

    text-align: center;

    font-size: 15px;

    text-decoration: none;

    color: #7f4ca5;

}

form input {

    border-radius: 5px;

    padding: 5px;

    border: 1px solid  #7f4ca5;

    margin-top: 5px;

}

button{

    margin: 10px;

    border-radius: 5px;

    border: none;

    background-color: #7f4ca5;

    padding: 10px;

    color: white;

    margin-top: 25px;

}